<app-navbar></app-navbar>
<div class="wrapper">
  <div class="section-description">
    <div class="container">
      <div class="title-section">
        <h1 class="title">EPISÓDIO - 1</h1>
        <h2 class="subtitle">Planetas</h2>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6 wrapper-description">
          <div class="description-planets">
            <div class="row details-planets">
              <div class="col-12">
                <h6>Relação de planetas descritos neste episódio</h6>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Alderaan</li>
              <li class="list-group-item">Yavin IV</li>
              <li class="list-group-item">Tatooine</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>