<app-navbar></app-navbar>
<div class="wrapper">
  <div class="section-description">
    <div class="container">
      <div class="title-section">
        <h1 class="title">EPISÓDIO - 1</h1>
        <h2 class="subtitle">Naves Estrelares</h2>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6 wrapper-description">
          <div class="description-starchips">
            <div class="row details-starchips">
              <div class="col-12">
                <h6>Relação de naves estrelares descritos neste episódio</h6>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">CR90 corvette</li>
              <li class="list-group-item">Star Destroyer</li>
              <li class="list-group-item">Death Star</li>
              <li class="list-group-item">Millennium Falcon</li>
              <li class="list-group-item">Y-wing</li>
              <li class="list-group-item">X-wing</li>
              <li class="list-group-item">TIE Advanced x1</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>