.section-title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100px;
    background-color: #282727; 
}
.title{
    font-weight: 600;
    font-size: 1.5em;
    color:#666;
}
.subtitle{
    font-weight: 100;
    font-size: 1em;
    color: white;
    margin-bottom: 0em;
}