<app-navbar></app-navbar>
<div class="wrapper">
  <div class="section-description">
    <div class="container">
      <div class="title-section">
        <h1 class="title">PERSONAGEM</h1>
        <h2 class="name-character">Luke Skywalker</h2>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6 wrapper-description">
          <div class="description-character">
            <div class="row details-character">
              <div class="col-4">
                <dl>
                  <dt>ALTURA</dt>
                  <dd>1.72</dd>
                </dl>
              </div>
              <div class="col-4">
                <dl>
                  <dt>GÊNERO</dt>
                  <dd>Masculino</dd>
                </dl>
              </div>
              <div class="col-4">
                <dl>
                  <dt>TERRA NATAL</dt>
                  <dd>Tatooine</dd>
                </dl>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Films</li>
              <li class="list-group-item">The Empire Strikes Back</li>
              <li class="list-group-item">Revenge of the Sith</li>
              <li class="list-group-item">Return of the Jedi</li>
              <li class="list-group-item">A New Hope</li>
            </ul>
            <div class="row details-character">
              <div class="col-4">
                <dl>
                  <dt>ESPÉCIE</dt>
                  <dd>Humana</dd>
                </dl>
              </div>
              <div class="col-4">
                <dl>
                  <dt>VEÍCULO</dt>
                  <dd>Snowspeeder</dd>
                </dl>
              </div>
              <div class="col-4">
                <dl>
                  <dt>NAVES</dt>
                  <dd>Snowspeeder</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>