<app-navbar></app-navbar>
<div class="wrapper">
  <div class="section-description">
    <div class="container">
      <div class="title-section">
        <h1 class="title">EPISÓDIO - 1</h1>
        <h2 class="subtitle">Espécies</h2>
      </div>
      <div class="row">
        <div class="col-md-12 col-lg-6 wrapper-description">
          <div class="description-vehicles">
            <div class="row details-vehicles">
              <div class="col-12">
                <h6>Relação de naves especies descritos neste episódio</h6>
              </div>
            </div>
            <ul class="list-group list-group-flush">
              <li class="list-group-item">Hutt</li>
              <li class="list-group-item">Wookiee</li>
              <li class="list-group-item">Droid</li>
              <li class="list-group-item">Human</li>
              <li class="list-group-item">Rodian</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

