<div class="wrapper">
  <div class="section-description">
    <div class="container">
      <div class="title-section">
        <h1 class="title">EPISÓDIO - 4</h1>
        <h2 class="name-movie">A NEW HOPE</h2>
      </div>
      <div class="row">
        <div class="col-lg-6 wrapper-description">
          <div class="description-movie">
            <p>Board the Millennium Falcon and journey to a galaxy far, far away in Solo: A Star Wars Story, an all-new adventure with the most beloved scoundrel in the galaxy. Through a series of daring escapades deep within a dark and dangerous criminal underworld, Han Solo meets his mighty future copilot Chewbacca and encounters the notorious gambler Lando Calrissian, in a journey that will set the course of one of the Star Wars saga’s most unlikely heroes.</p>
            <div class="row">
              <div class="col-3">
                <dl>
                  <dt>DIRETOR</dt>
                  <dd>George Lucas</dd>
                </dl>
              </div>
              <div class="col-3">
                <dl>
                  <dt>PRODUTOR</dt>
                  <dd>Gary Kurtz, Rick McCallum</dd>
                </dl>
              </div>
              <div class="col-3">
                <dl>
                  <dt>LANÇAMENTO</dt>
                  <dd>25-05-1977</dd>
                </dl>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-6 details-moveis">
          <ul class="list-group list-deatails">
            <a [routerLink]="['/characters']"><li class="list-group-item">Personagens</li></a>
            <a [routerLink]="['/planets']"><li class="list-group-item">Planetas</li></a>
            <a [routerLink]="['/starchips']"><li class="list-group-item">Naves estralares</li></a>
            <a [routerLink]="['/vehicles']"><li class="list-group-item">Veículos</li></a>
            <a [routerLink]="['/species']"><li class="list-group-item">Espécies</li></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>